.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  background-color: black;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto 2%;
  padding: 2% 0.5%;
  background-color: black;
  margin: 2% auto;
}

.nav-links a {
  text-decoration: none;
  color: black;
  border: 1px solid white;
  padding: 1%;
  border-radius: 10px;
  background: #1ed761;
  width: 20%;
}

input {
  background-color: white;
  margin: 1% auto;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: center;
  justify-content: center;
  border: white 2px solid;
  border-radius: 10px;
  margin: 2% auto;
}

.btn {
  margin: 2% auto;
}

.form-div {
  margin: auto;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid white;
  width: 22.5%;
}

.cards {
  border: 1px solid #b3b3b3;
  color: white;
  border-radius: 8px;
  background: #535353;
  width: 300px;
  margin: 2% 2%;
}

.card-body,
.card-title,
.card-text {
  background: #212121;
}

.song-form {
  width: 50%;
  margin: auto;
}

.main-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.loader {
  margin-top: 8%;
}
