.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  background-color: black;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-evenly; 
  width: 100%;
  margin: 0 auto 2%;
  padding: 2% .5%;
  background-color: black;
  margin: 2% auto;
}

.nav-links a {
  text-decoration: none;
  color: black;
  border: 1px solid white;
  padding: 1%;
  border-radius: 10px;
  background: #1ed761;
  width: 20%;
}

input {
  background-color: white;
  margin: 1% auto;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: center;
  justify-content: center;
  border: white 2px solid;
  border-radius: 10px;
  margin: 2% auto;
}

.btn {
  margin: 2% auto;
}

.form-div {
  margin: auto;
}